name: hybrid
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - cudatoolkit  # or comment out if CPU-only
  - pip
  - pip:
      - medmnist
      - numpy
      - pandas
      - matplotlib
